.principal{
    text-align: center;
    font-size: 40px;
    color: aqua;

    .texto{
        text-align: justify;
        color: blue;
        background-color: antiquewhite;
    }
}

.texto__secundario{
    margin: 10px;
    .texto__secundario--titulo{
        color: black;
    }

    .texto__secundario--texto{
        background-color: brown;
        margin-top: 50px;

    }
}